model filter=lfs diff=lfs merge=lfs -text
model/bank_text_classification/model.safetensors filter=lfs diff=lfs merge=lfs -text
model/transaction_categorizer_model.py filter=lfs diff=lfs merge=lfs -text
